---
import Layout from '../layouts/Layout.astro';
import IndustrialHero from "../components/IndustrialHero.astro";
import CoreCapabilities from "../components/CoreCapabilities.astro";
import IndustriesServed from "../components/IndustriesServed.astro";
import WhyAxonix from "../components/WhyAxonix.astro";
import ProjectSpotlight from "../components/ProjectSpotlight.astro";
import ProcessSection from "../components/ProcessSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout title="Axonix Integrated Technologies | Intelligent Infrastructure">
	<main>
		<IndustrialHero />
		<CoreCapabilities />
		<IndustriesServed />
		<WhyAxonix />
		<ProjectSpotlight />
		<ProcessSection />
		<ContactSection />
	</main>
</Layout>
